* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 .cabeçalho {
     width: 970px;
     margin: 64px auto;
 }
 
 nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 nav ul {
     list-style: none;
     display: flex;
     gap: 50px;
 }
 
 nav a {
     font-size: 12px;
     text-transform: uppercase;
 }
 
 a {
     font-weight: 700;
     text-decoration: none;
 }
 
 footer {
     text-align: center;
 }
 
 